<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Flask Project</title>
</head>
<body>
    <h1>Create a Flask Project</h1>
    <p>To create a flask project in python, we should do the following</p>
    <ol>
        <li>install the flask module using "pip install flask"</li>
        <li>next import the flask into the pythn file</li>
        <li>then type like main.py file</li>
    </ol>
</body>
</html>